<%= turbo_frame_tag "code_review_scores" do %>
  <div class="score-section">
    <% scores.each do |key, value| %>
      <% next if key.to_s.end_with?('_reason') %>
      <div class="score-row">
        <div class="score-value"><%= value %></div>
        <div class="score-details">
          <div class="score-label"><%= key.to_s.humanize.upcase %></div>
          <% if scores["#{key}_reason"] %>
            <div class="score-reason"><%= scores["#{key}_reason"] %></div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %> 