<div class="container mt-4" data-controller="code-review" data-code-review-debug-value="true" data-review-id="<%= @code_review.id %>">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Edit Code Review</h1>
    <div>
      <%= link_to 'Show', @code_review, class: 'btn btn-info' %>
      <%= link_to 'Back', code_reviews_path, class: 'btn btn-secondary' %>
    </div>
  </div>

  <%= render 'form', code_review: @code_review %>
</div> 